@page
@model InventoryManagementSystem.Pages.Products.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<h3>@ViewData["Title"]</h3>
<hr />
<div class="row shadow">
    <input type="hidden" asp-for="Products.ProductId" />
    <div class="col-md-4">

        <div class="form-group">
            <label asp-for="Products.Name" class="control-label"></label>
            <input asp-for="Products.Name" class="form-control" readonly />



        </div>
        <div class="form-group">
            <label asp-for="Products.Price" class="control-label"></label>
            <input type="number" asp-for="Products.Price" class="form-control" readonly />


        </div>
        <div class="form-group">
            <label asp-for="Products.Description" class="control-label"></label>
            <input asp-for="Products.Description" class="form-control" readonly />


        </div>
        <form method="post">

        <div class="form-group" mt-2>
            <input type="submit" value="Delete" class="btn btn-danger" />

            <a class="btn btn-primary" asp-page="Index">Product List</a>

            <div />
        </form>


        </div>
    </div>

