@page
@model InventoryManagementSystem.Pages.Products.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h3>@ViewData["Title"]</h3>
<hr />
<div class="row shadow">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Products.ProductId" />
            <div class="form-group">
                <label asp-for="Products.Name" class="control-label"></label>
                <input asp-for="Products.Name" class="form-control" />
                <span asp-validation-for="Products.Name " class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Products.Price" class="control-label"></label>
                <input type="number" asp-for="Products.Price" class="form-control" />
                <span asp-validation-for="Products.Price " class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Products.Description" class="control-label"></label>
                <input asp-for="Products.Description" class="form-control" />
                <span asp-validation-for="Products.Description " class="text-danger"></span>

            </div>
            <div class="form-group" mt-2>
                <input type="submit" value="Update" class="btn btn-success" />
                <a class="btn btn-primary" asp-page="Index">Product List</a>

                <div />
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}
